.cards {
  max-width: 1150px;
  margin: 0 auto;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #fff;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.card {
  width: 251px;
  max-height: 400px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  margin: 10px 10px 20px 14px;
  cursor: pointer;
  border-radius: 15px;

  img {
    max-width: 100%;
    height: 200px;
    cursor: pointer;
    border-radius: 15px;
  }

  .name {
    font-size: 18px;
    min-height: 50px;
    color: #009cf0;
    font-weight: bold;
  }

  .price {
    font-size: 16px;
    color: #000;
    font-weight: bold;
    margin-top: 5px;
  }

  .send {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #1785e5;
    color: #fff;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .info {
    padding: 10px;
  }
  .watchh svg {
    font-size: 18px;
    margin-top: 5px;
    margin-left: 25px;
  }

  .address {
    color: grey;
    font-size: 14px;
  }

  &:hover {
    background-color: #00000005;
    box-shadow: 0px 2px 8px rgba(114, 52, 228, 0.575);
    border-radius: 10px;
  }
}

.sends {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recomendation {
  width: 1110px;
  font-weight: bold;
  margin: 0 auto;
  font-size: 22px;
  margin-top: 30px;
  font-family: "Roboto", "Helvetica Neue";
  display: flex;
}

.main {
  position: relative;
}

.filter {
  position: absolute;
  top: 37px;
  left: 90px;
}

a {
  text-decoration: none;
  color: inherit;
}

.product {
  width: 1125px;
  margin: auto;
  padding: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #fff;
  margin-top: 50px;
  display: flex;
  
  .product-info {
    width: 500px;
    margin-left: 40px;
  }

  .product-image img {
    border-radius: 3px;
    width: 500px;
    height: 400px;
    border-radius: 15px;
  }

  .product-info button {
    width: 200px;
    background-color: #008cba;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 5px #006f99;
    letter-spacing: 1px;

    &:hover {
      color: #f3ecfe;
    }
  }

  button:active {
    background-color: #006f99;
    box-shadow: 0 2px #006f99;
    transform: translateY(3px);
  }

  .product-name {
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .product-desc {
    margin-top: 10px;
    max-height: 100px;
    margin-bottom: 40px;
  }
}

.product-address {
  margin-top: 15px;
  display: flex;
  align-items: center;

  span {
    color: grey;
  }

  img {
    width: 22px !important;
    height: 22px !important;
    margin-right: 5px;
    color: grey;
  }
}

.product-contact {
  color: #009cf0;
  display: flex;
  align-items: center;

  span {
    color: grey;
  }

  img {
    width: 22px !important;
    height: 22px !important;
    margin-right: 5px;
  }
}

.owner {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  span {
    color: #009cf0;
  }

  img {
    width: 22px !important;
    height: 22px !important;
    color: grey;
    margin-right: 5px;
  }
}

.options {
  width: 1050px;
  height: 40px;
  text-align: right;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favorite {
  align-items: center;
}

.favorite span svg {
  font-size: 26px;
}

.additionally-img {
  max-width: 500px;
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;

  div {
    margin-right: 5px;

    img {
      width: 75px !important;
      height: 55px !important;
    }
  }
}

.watch {
  margin-top: 15px;
  margin-left: 5px;

  span {
    color: grey;
  }
}

.data {
  color: rgb(85, 85, 85);
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e2e2e2;
  margin-top: 5px;
}

.product-owner {
  margin-top: 15px;
}

.price {
  font-size: 26px;
  font-weight: bold;
  margin-top: 10px;
  color: #009cf0;
}

.favorites {
  width: 500px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;

  .btn {
    width: 180px;
    font-size: 16px;
    padding: 0 10px 0 0;
    border: solid 1px #cccccc;
    border-radius: 4px;
    cursor: pointer;
    padding: 3px 10px;

    &:hover {
      background-color: #fcf9f7;
    }

    text-align: center;
  }
}

.add-card {
  max-width: 1130px;
  margin: 0 auto;
  padding: 5px 10px 0 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  justify-content: space-between;
  margin-top: 30px;

  input {
    outline: none;
    width: 300px;
    height: 40px;
    padding-left: 10px;
    border-radius: 5px;
    border: solid 1px grey;
    font-size: 14px;
    background-color: #fff !important;
  }

  .search {
    display: flex;
    align-items: center;
    input {
      box-shadow: none;
    }
    div {
      display: flex;
      padding: 10px 20px;
      text-align: center;
      margin-left: 10px;
      margin-top: 10px;
      font-size: 16px !important;
      background-color: #3498db;
      font-weight: 600;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      svg {
        font-size: 20px;
        margin-top: 5px;
      }

      button {
        font-size: 12px;
      }
    }

    svg {
      margin-left: 5px;
      font-size: 16px;
      padding-bottom: 3px;
    }
  }
}

.categories {
  margin-top: 15px;
  display: flex;
  align-items: center;

  span {
    color: grey;
  }

  svg {
    font-size: 22px;
    margin-right: 5px;
    color: blue;
  }
}

.owner {
  img {
    width: 22px;
  }
}

.descript {
  margin-top: 15px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
}

.dropdown {
  position: relative;
  display: inline;

  .dropBtn {
    background-color: #4caf50;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    margin: -2px 0 0 -40px;
    font-size: 12px;

    li {
      background-color: #fff;
      color: black;
      padding: 5px 10px;
      text-decoration: none;
      display: block;
      cursor: pointer;
      border-bottom: 0.5px solid #00000015;

      &:hover {
        background-color: #f1f1f1;
      }
    }
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}

.raiting {
  display: flex;
  margin-top: 10px;
}
.level {
  font-size: 12px;
  margin-left: 10px;
}
.rating {
  color: orange;
}
.cardSkeleton {
  width: 251px;
  max-height: 400px;
  margin: 10px 10px 20px 14px;
  border-radius: 15px;
}