.carouselContainer {
    max-width:500px; /* Ширина контейнера карусели */
    overflow: hidden; /* Скрыть содержимое, которое выходит за пределы контейнера */
    position: relative; /* Добавим относительное позиционирование для дочерних элементов */
      .slide {
        background-color: red;
        display: block;
        margin: auto;
      }
  }
  .slide {
    text-align: center; /* Центрирование изображения и кнопок в слайде */
    max-height: 400px; /* Максимальная высота слайда */
  }
  .slide img {
    max-width: 100%; /* Ограничение максимальной ширины изображения */
    max-height: 100%; /* Ограничение максимальной высоты изображения */
    display: block; /* Превращаем изображение в блочный элемент */
    margin:  auto; /* Центрируем изображение внутри слайда */
  }
  
  .slick-prev,
  .slick-next {
    font-size: 38px; /* Увеличиваем размер кнопок навигации */
    top: 50%; /* Располагаем кнопки посередине контейнера вертикально */
    transform: translateY(-50%); /* Центрируем кнопки вертикально */
    z-index: 2;
  }
  
  .slick-prev {
    left: 10px; /* Располагаем кнопку "назад" слева от карусели */
  }
  
  .slick-next {
    right: 10px; /* Располагаем кнопку "вперед" справа от карусели */
  }